/* Installer la police Game of Thrones */
@font-face {
  font-family: "Game of Thrones";
  src: url("Game of Thrones.ttf") format("truetype");
}

h1, h5{
  font-family: "Game of Thrones";
}

body{
  background-color: #181920;
}